
// fonts
// Open Sans and Poppins
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300;700&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #fdfcdc;
  background: #000;
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}


.slider {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    border: 1px solid #fdfcdc;
    display: block;
    right: 60%;
    transform: translate(-50%, 0);
    width: 550px;
    height: 550px;
    border-radius: 100%;
  }
  &::after {
    content: '';
    background-image: url(lines.png);
    background-position: left center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    opacity: .5;
    z-index: -1;
  }
}

.pagination {
  position: relative;
  width: 100%;
  margin-right: 50px;
  z-index: 10;
}

.pagination__track {
  display: flex;
  align-items: center; // or start another circle method
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  transform-origin: 0 50%;
}

.pagination__track--transition {
  transition: transform 500ms;
}

.pagination__item {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: right;
  transform-origin: 0 50%;
  transform: rotate(0deg);
  font: 18px 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  user-select: none;
  cursor: pointer;
  color: rgb(255,175,227);
  text-transform: uppercase;
  // &:nth-child(1) {
  //   padding-left: 20px;
  // }
}


// .pagination__item::before {
//   content: '';
//   position: absolute;
//   left: 0;
//   top: calc(50% - 1px);
//   width: 100%;
//   height: 2px;
//   background: transparent radial-gradient(circle, #fff calc(30% - 1px), #fff 30%, transparent calc(30% + 1px));
//   z-index: -1;
// }

.slides {
  width: 70%;
  display: flex;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100%);
  
  // &--active {
  //   color: rgb(255,175,227);
  // }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    transform: translateY(40px);
  }

  &__text {
    display: flex;
    max-width: 280px;
    // margin: 0 auto;
    margin-right: auto;
    text-align: left;
    color: rgb(255, 209, 239);
    transform: translateX(110px);
  }

  &--active {
    opacity: 1;
    transform: translateY(0);
  }
  
  &--next {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  &--transition {
    transition: transform 500ms, opacity 500ms linear;
  }
  
  &__title {
    font: 700 142px 'Poppins', sans-serif;
    letter-spacing: 0.5rem;
    line-height: 1;
    margin-bottom: 18px;
    margin-top: 0;
    background: linear-gradient(to right, rgb(255,175,227) 0%, rgb(250,44,176) 100%);
    // background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    &::before {
      content: '_';
      font-weight: 300;
      display: block;
      position: relative;
      transform: translateY(-15px);
    }
  }
}

.slide__pagination-label {
  display: none;
}

.buttons {
  display: none;
}

@media screen and (min-width: 769px) and (max-width: 992px) {

  .slider {
    &::before {
      right: unset;
      left: 0;
      width: 300px;
      height: 300px;
    }
  }

  .pagination__item {
    padding-left: 50px;
  }

}

@media screen and (max-width: 768px) {

  // .slides {
  //   width: 100%;
  //   display: flex;
  // }

  .slide {
    //margin-top: 100px;
    &--active {
      color: rgb(255,175,227) !important;
    }

    &__title {
      font: 700 50px 'Poppins', sans-serif;
      // margin: 0 auto;
      margin-top: 35px;
      letter-spacing: 0.2rem;
      &::before {
        transform: translateY(-5px);
      }
    }

    &__content {
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      //align-items: center;
      margin-left: 0px;
      transform: translateY(0px);
    }
  
    &__text {
      display: flex;
      font-size: 16px;
      max-width: unset;
      // margin: 0 auto;
      // margin-left: auto;
      text-align: left;
      color: rgb(255, 209, 239);
      transform: translateX(0);
    }

  }
  
  .slider {
    align-items: flex-start;
    &::before {
      content: '';
      position: absolute;
      border: 1px solid #fdfcdc;
      display: block;
      left: 50%;
      top: 80%;
      transform: translate(-50%, 0);
      // width: 220px;
      // height: 220px;
      border-radius: 100%;
    }
    &::after {
      background-size: cover;
      opacity: 1;
    }
  }

  .pagination {
    position: absolute;
    // height: 100vh;
    // left: 50%;
    bottom: 0;
    top: 100%;
    // transform: translate(-50%, -50%);
    margin-right: 0;
    transform: rotate(-90deg);
    &__item {
      color: rgb(213, 213, 213);
      font-size: 14px;
    }
  }

  // .pagination__item {
  //   span {
  //     display: block;
  //     transform: rotate(0deg);
  //   }
  // }

}
