

$accent: #43AEED;
$hover: rgb(220, 228, 247);

.light-theme {
  --title-color: #fdfcdc;
  --rgba-title-color: rgba(211, 211, 211, 0.1);
  --body-color: #afafaf;
  --background-color: #181621;
  --foreground-color: #211f2a;
  --blend-mode: lighten;
  --cv-button: #ffab1b;
  --progress-scroll: #fdfcdc;
}

:root {
  --title-color: #596069;
  --rgba-title-color: rgba(51, 51, 51, 0.1);
  --body-color: #696969;
  --background-color: #fff;
  --foreground-color: #fff;
  --blend-mode: normal;
  --cv-button: #fdfcdc;
  --progress-scroll: #ffab1b;
}

::selection {
  background: rgb(67, 174, 237);
  color: #fdfcdc;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
textarea,
button,
select,
label,
a {
  border: 0;
  outline: none;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

button,
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  hyphens: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  font: {
      family: 'Gilroy', 'Rubik', 'Arial', 'Helvetica', sans-serif;
      weight: normal;
      style: normal;
      display: fallback;
  }
  font-size: 1rem;
  line-height: 20px;
  color: var(--title-color);
  overflow-anchor: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  &.fixed {
    overflow: hidden;
    position: fixed;
    height: 100%;
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, .5);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
    }
  }
}
