/* reset */
/* main variables */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

ul,
li {
  list-style: none; }

a,
span,
div,
button {
  border: none;
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Avenir';
  src: url("Avenir-Roman.eot");
  src: local("Avenir Roman"), local("Avenir-Roman"), url("../fonts/Avenir-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Roman.woff2") format("woff2"), url("../fonts/Avenir-Roman.woff") format("woff"), url("../fonts/Avenir-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir';
  src: url("Avenir-Light.eot");
  src: local("Avenir Light"), local("Avenir-Light"), url("../fonts/Avenir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Light.woff2") format("woff2"), url("../fonts/Avenir-Light.woff") format("woff"), url("../fonts/Avenir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Book';
  src: url("Avenir-BookOblique.eot");
  src: local("Avenir Book Oblique"), local("Avenir-BookOblique"), url("../fonts/Avenir-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-BookOblique.woff2") format("woff2"), url("../fonts/Avenir-BookOblique.woff") format("woff"), url("../fonts/Avenir-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Avenir Black Oblique';
  src: url("Avenir-BlackOblique.eot");
  src: local("Avenir Black Oblique"), local("Avenir-BlackOblique"), url("../fonts/Avenir-BlackOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-BlackOblique.woff2") format("woff2"), url("../fonts/Avenir-BlackOblique.woff") format("woff"), url("../fonts/Avenir-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Avenir';
  src: url("Avenir-Heavy.eot");
  src: local("Avenir Heavy"), local("Avenir-Heavy"), url("../fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff"), url("../fonts/Avenir-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Avenir';
  src: url("Avenir-HeavyOblique.eot");
  src: local("Avenir Heavy Oblique"), local("Avenir-HeavyOblique"), url("../fonts/Avenir-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-HeavyOblique.woff2") format("woff2"), url("../fonts/Avenir-HeavyOblique.woff") format("woff"), url("../fonts/Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Avenir';
  src: url("Avenir-MediumOblique.eot");
  src: local("Avenir Medium Oblique"), local("Avenir-MediumOblique"), url("../fonts/Avenir-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-MediumOblique.woff2") format("woff2"), url("../fonts/Avenir-MediumOblique.woff") format("woff"), url("../fonts/Avenir-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Avenir';
  src: url("Avenir-LightOblique.eot");
  src: local("Avenir Light Oblique"), local("Avenir-LightOblique"), url("../fonts/Avenir-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-LightOblique.woff2") format("woff2"), url("../fonts/Avenir-LightOblique.woff") format("woff"), url("../fonts/Avenir-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Avenir Book';
  src: url("Avenir-Book.eot");
  src: local("Avenir Book"), local("Avenir-Book"), url("../fonts/Avenir-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff"), url("../fonts/Avenir-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir';
  src: url("Avenir-Black.eot");
  src: local("Avenir Black"), local("Avenir-Black"), url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Avenir';
  src: url("Avenir-Oblique.eot");
  src: local("Avenir Oblique"), local("Avenir-Oblique"), url("../fonts/Avenir-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Oblique.woff2") format("woff2"), url("../fonts/Avenir-Oblique.woff") format("woff"), url("../fonts/Avenir-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Avenir';
  src: url("Avenir-Medium.eot");
  src: local("Avenir Medium"), local("Avenir-Medium"), url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
html {
  height: 100%;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #212353;
  overflow-x: hidden;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  overflow-anchor: auto;
  scroll-behavior: smooth; }

.no-scroll {
  overflow: hidden; }

textarea {
  width: 100%;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  line-height: 85px;
  overflow: hidden;
  resize: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #b2a2cd), color-stop(1%, transparent), color-stop(50%, transparent), color-stop(50%, #b2a2cd), color-stop(51%, #b2a2cd), color-stop(51%, transparent), to(transparent));
  background-image: linear-gradient(0deg, #b2a2cd 1%, transparent 1%, transparent 50%, #b2a2cd 50%, #b2a2cd 51%, transparent 51%, transparent 100%);
  background-size: 160px 160px; }
  textarea::-webkit-input-placeholder {
    color: #212353;
    font-weight: 800; }
  textarea:-ms-input-placeholder {
    color: #212353;
    font-weight: 800; }
  textarea::-ms-input-placeholder {
    color: #212353;
    font-weight: 800; }
  textarea::placeholder {
    color: #212353;
    font-weight: 800; }

@media screen and (max-width: 767px) {
  textarea {
    font-size: 14px; } }
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    border-radius: 50px; }
  @media screen and (max-width: 767px) {
    .owl-carousel .owl-item img {
      border-radius: 5px; } }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px; }
@media screen and (max-width: 767px) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 15px; } }
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #9C69E2; }

.menuBtn {
  height: 30px;
  width: 30px;
  bottom: 3px;
  position: relative;
  z-index: 222; }

.menuBtn > span {
  background-color: rgba(156, 105, 226, 0.8);
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  -webkit-transition: height 100ms;
  transition: height 100ms; }

.menuBtn > span:after,
.menuBtn > span:before {
  content: '';
  background-color: rgba(156, 105, 226, 0.8);
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  -webkit-transition: all 200ms;
  transition: all 200ms; }

.menuBtn > span:after {
  top: -7px; }

.menuBtn > span:before {
  bottom: -7px; }

.menuBtn.act > span {
  height: 0; }

.menuBtn.act > span:after,
.menuBtn.act > span:before {
  background-color: rgba(156, 105, 226, 0.8);
  top: 1px; }

.menuBtn.act > span:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.menuBtn.act > span:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* main menu block */
.mainMenu {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  transform: scale(0); }

.mainMenu.act {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.mainMenu.act ul li {
  opacity: 1; }

.mainMenu ul {
  display: table-cell;
  vertical-align: middle; }

.mainMenu li {
  padding: 8px 0;
  -webkit-transition: all 400ms 510ms;
  transition: all 400ms 510ms;
  opacity: 0; }

.mainMenu a {
  color: #212353;
  display: inline-block;
  font-weight: 700;
  font-size: 18px; }

.mainMenu a.suBtn {
  color: #fff; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
@media screen and (min-width: 992px) {
  .navbar {
    margin: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar-logo img {
      width: 49px; }
    .navbar-nav {
      margin-left: 120px;
      margin-right: auto;
      display: block; }
      .navbar-nav .nav-item a {
        color: #4B5D68; }
        .navbar-nav .nav-item a img {
          display: inline-block;
          vertical-align: middle; }
      .navbar-nav .nav-item.active > a {
        font-weight: 800;
        color: #212353;
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px); }
      .navbar-nav > li {
        display: inline-block;
        font-weight: 500; }
        .navbar-nav > li:hover a {
          color: #212353; }
        .navbar-nav > li + li {
          margin-left: 20px; } }
@media screen and (min-width: 768px) {
  .menuBtn {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    margin: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar-logo img {
      width: 39px; }
    .navbar-nav {
      display: block; }
      .navbar-nav .nav-item a {
        color: #4B5D68; }
        .navbar-nav .nav-item a img {
          display: inline-block;
          vertical-align: middle; }
      .navbar-nav .nav-item.active > a {
        font-weight: 800;
        color: #212353; }
      .navbar-nav > li {
        display: inline-block;
        font-weight: 500; }
        .navbar-nav > li:hover a {
          color: #212353; }
        .navbar-nav > li + li {
          margin-left: 30px; } }
@media screen and (max-width: 767px) {
  .navbar {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar-logo img {
      width: 28px; }
    .navbar-nav {
      margin-left: auto;
      margin-right: 25px; }
      .navbar-nav .nav-item {
        display: none; }
      .navbar-nav .nav-item:nth-last-child(1) {
        display: block; } }
/* reset */
/* main variables */
.button {
  border-radius: 50px;
  max-height: 60px;
  padding: 15px 37px;
  white-space: nowrap;
  font-size: 16px; }
  .button.button_accent {
    text-align: center;
    width: 170px;
    color: #fff;
    font-weight: 500;
    background: #9C69E2;
    border: 2px solid #9C69E2;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .button.button_accent:hover {
      background: transparent;
      color: #9C69E2; }
  .button.button_light {
    text-align: left;
    width: 210px;
    color: #212353;
    background: #fff;
    font-weight: 500;
    -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    -webkit-transition: 0.9s;
    transition: 0.9s; }
    .button.button_light::after {
      display: inline-block;
      vertical-align: middle;
      padding-left: auto;
      content: url(../img/icons/arrow.svg);
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
    .button.button_light:hover {
      -webkit-box-shadow: 0 0 25px #e63946;
              box-shadow: 0 0 25px #e63946; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .button {
    display: block;
    max-height: 50px;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    margin: 0 auto; }
    .button.button_light {
      text-align: center; }
      .button.button_light::after {
        -webkit-transform: translateX(10px);
                transform: translateX(10px); } }
@media screen and (max-width: 767px) {
  .button {
    display: block;
    max-height: 50px;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    margin: 0 auto; }
    .button.button_accent, .button.button_light {
      max-width: 320px; }
    .button.button_light {
      text-align: center; }
      .button.button_light::after {
        -webkit-transform: translateX(10px);
                transform: translateX(10px); } }
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
  margin-bottom: 50px; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-social li + li {
      margin-left: 14px; }
    .footer-social-link {
      width: 50px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #212353;
      opacity: 0.15;
      border-radius: 200px; }
      .footer-social-link img {
        height: 20px; }
  .footer-column a.footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 65px; }
    .footer-column a.footer-logo span {
      display: block;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 160%;
      color: #212353;
      margin-left: 20px; }
  .footer-column address,
  .footer-column .get-contact {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin-bottom: 10px; }
  .footer-column-title {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    margin-bottom: 30px; }
  .footer-column .footer-links li {
    display: block;
    line-height: 250%; }
    .footer-column .footer-links li a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #212353; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer-social li + li {
    margin-left: 10px; }
  .footer-social-link {
    width: 30px;
    height: 30px; }
    .footer-social-link img {
      height: 15px; }
  .footer-column a.footer-logo {
    margin-bottom: 35px; }
    .footer-column a.footer-logo img {
      width: 39px; }
    .footer-column a.footer-logo span {
      font-size: 14px;
      margin-left: 15px; }
  .footer-column address,
  .footer-column .get-contact {
    font-size: 14px; }
  .footer-column-title {
    font-size: 14px;
    margin-bottom: 15px; }
  .footer-column .footer-links li {
    line-height: 100%; }
    .footer-column .footer-links li + li {
      margin-top: 15px; } }
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 24px;
    margin-bottom: 0;
    background: rgba(156, 105, 226, 0.1); }
    .footer .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .footer-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 20px; }
      .footer-social li + li {
        margin-left: 14px; }
      .footer-social-link {
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: #212353;
        opacity: 0.15;
        border-radius: 200px; }
        .footer-social-link img {
          height: 20px; }
    .footer-column {
      display: block;
      width: 100%;
      text-align: center; }
      .footer-column:nth-child(2), .footer-column:nth-child(3), .footer-column:nth-child(4) .footer-column-title {
        display: none; }
      .footer-column a.footer-logo {
        display: none; }
      .footer-column address,
      .footer-column .get-contact {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        letter-spacing: 0.01em;
        color: #212353;
        margin-bottom: 10px; }
      .footer-column-title {
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 160%;
        color: #212353;
        margin-bottom: 30px; }
      .footer-column .footer-links li {
        display: block;
        line-height: 250%; }
        .footer-column .footer-links li a {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: #212353; } }
.container {
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.section-title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 25px;
  padding: 0; }
  .section-title + .section-subtitle {
    padding-top: 0;
    margin-top: 0; }
.section-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #4B5D68;
  padding: 0; }
.section.try-free .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.section.try-free .button-wrapper button + button {
  margin-left: 30px; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 223; }
  .modal_visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    overflow: auto; }
  .modal-dialog {
    margin: auto;
    background: #fff;
    width: 100%;
    max-width: 1060px;
    position: relative;
    padding: 34px;
    background-clip: padding-box;
    border: solid 15px transparent;
    border-radius: 40px; }
    .modal-dialog:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -15px;
      border-radius: inherit;
      background: repeating-linear-gradient(-55deg, #68C9BA, #68C9BA 10px, #fff 10px, #fff 20px); }
  .modal-header {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 35px; }
  .modal-body .button {
    display: block;
    margin-left: auto; }
  .modal-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; }
  .modal-form-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%; }
    .modal-form-column + .modal-form-column {
      margin-left: 40px; }
  .modal-form .form-group {
    position: relative; }
    .modal-form .form-group label {
      position: absolute;
      pointer-events: none;
      top: 1em;
      -webkit-transition: 0.2s ease all;
      transition: 0.2s ease all;
      color: #212353;
      font-weight: 800; }
    .modal-form .form-group input[type=text] {
      background-color: transparent;
      padding: 0.75em 1.5em;
      line-height: 1.5em;
      border: 0;
      display: block;
      width: 100%;
      margin-top: 30px;
      font-size: 16px;
      border-bottom: 2px solid #b2a2cd;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, white), color-stop(4%, #ccc));
      background: linear-gradient(to bottom, white 96%, #ccc 4%);
      background-position: -100em 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      -webkit-transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
      transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all; }
      .modal-form .form-group input[type=text]:focus, .modal-form .form-group input[type=text]:valid {
        background-position: 0 0; }
        .modal-form .form-group input[type=text]:focus ~ label, .modal-form .form-group input[type=text]:valid ~ label {
          color: #9c69e2;
          font-size: 0.875em;
          top: -1.5em; }
      .modal-form .form-group input[type=text]:focus {
        outline: none; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
@media screen and (min-width: 1200px) {
  .carousel-text {
    position: absolute;
    display: block;
    padding: 80px 104px; }
    .carousel-text-title {
      max-width: 645px;
      font-style: normal;
      font-weight: 800;
      font-size: 72px;
      line-height: 110%;
      margin-bottom: 18px; }
    .carousel-text-description {
      max-width: 380px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #4B5D68;
      margin-bottom: 18px; }

  .section.features {
    margin-top: 87px;
    position: relative; }
    .section.features::after {
      content: '';
      position: absolute;
      background: #9C69E2;
      opacity: 0.2;
      width: 100%;
      height: 2px;
      bottom: -130px; }
    .section.features .section-subtitle {
      display: block;
      margin: 0 auto;
      max-width: 584px;
      margin-bottom: 100px; }
    .section.features .features-cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .section.features .features-cards .features-item {
        -webkit-box-flex: 50%;
            -ms-flex: 50%;
                flex: 50%;
        width: 440px;
        max-height: 327px;
        position: relative; }
        .section.features .features-cards .features-item:nth-child(1), .section.features .features-cards .features-item:nth-child(2) {
          margin-bottom: 80px; }
          .section.features .features-cards .features-item:nth-child(1) .features-item-content, .section.features .features-cards .features-item:nth-child(2) .features-item-content {
            padding: 28px 50px 40px 250px !important; }
        .section.features .features-cards .features-item:nth-child(1), .section.features .features-cards .features-item:nth-child(3) {
          padding-right: 50px; }
        .section.features .features-cards .features-item:nth-child(2) svg, .section.features .features-cards .features-item:nth-child(4) svg {
          right: -60px; }
        .section.features .features-cards .features-item .features-item-content {
          padding: 48px 50px 30px 250px; }
        .section.features .features-cards .features-item img {
          position: absolute;
          top: 50%;
          left: -20px;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
        .section.features .features-cards .features-item__title {
          font-weight: 500;
          font-size: 24px;
          padding: 0;
          margin-bottom: 20px; }
        .section.features .features-cards .features-item__text {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #4B5D68;
          line-height: 160%;
          padding: 0;
          margin-bottom: 20px; }
        .section.features .features-cards .features-item__button {
          border: none;
          background: none;
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          padding: 0;
          margin-bottom: 30px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .section.features .features-cards .features-item__button::after {
            content: url(../img/icons/arrow.svg);
            margin-left: 20px;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }
          .section.features .features-cards .features-item__button:hover::after {
            -webkit-transform: translateX(5px);
                    transform: translateX(5px); }
        .section.features .features-cards .features-item svg {
          z-index: -1;
          position: absolute; }
  .section.try-free {
    margin-top: 230px;
    margin-bottom: 150px; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .carousel-text {
    position: absolute;
    display: block;
    padding: 55px 80px; }
    .carousel-text-title {
      max-width: 645px;
      font-style: normal;
      font-weight: 800;
      font-size: 72px;
      line-height: 110%;
      margin-bottom: 18px; }
    .carousel-text-description {
      max-width: 380px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #4B5D68;
      margin-bottom: 18px; }

  .section.features {
    margin-top: 87px;
    position: relative; }
    .section.features::after {
      content: '';
      position: absolute;
      background: #9C69E2;
      opacity: 0.2;
      width: 100%;
      height: 2px;
      bottom: -60px; }
    .section.features .section-subtitle {
      display: block;
      margin: 0 auto;
      max-width: 584px;
      line-height: 160%;
      padding: 0;
      margin-bottom: 130px; }
    .section.features .features-cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .section.features .features-cards .features-item {
        -webkit-box-flex: 50%;
            -ms-flex: 50%;
                flex: 50%;
        max-width: 440px;
        position: relative;
        border-radius: 50px; }
        .section.features .features-cards .features-item.teal {
          background: rgba(104, 201, 186, 0.1); }
        .section.features .features-cards .features-item.blue {
          background: rgba(45, 156, 219, 0.1); }
        .section.features .features-cards .features-item.pink {
          background: rgba(240, 99, 184, 0.1); }
        .section.features .features-cards .features-item.violet {
          background: rgba(156, 105, 226, 0.1); }
        .section.features .features-cards .features-item img {
          max-width: 176px;
          display: block;
          position: absolute;
          left: 50%;
          -webkit-transform: translate(-50%);
                  transform: translate(-50%);
          top: -58px; }
        .section.features .features-cards .features-item:nth-child(1), .section.features .features-cards .features-item:nth-child(2) {
          margin-bottom: 100px; }
        .section.features .features-cards .features-item .features-item-content {
          margin-top: 95px;
          padding: 0px 40px; }
        .section.features .features-cards .features-item__title {
          font-weight: 500;
          font-size: 24px;
          padding: 0;
          margin-bottom: 15px;
          text-align: center; }
        .section.features .features-cards .features-item__text {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #4B5D68;
          line-height: 160%;
          padding: 0;
          margin-bottom: 26px;
          text-align: center; }
        .section.features .features-cards .features-item__button {
          margin: 0 auto;
          border: none;
          background: none;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          padding: 0;
          margin-bottom: 47px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .section.features .features-cards .features-item__button::after {
            content: url(../img/icons/arrow.svg);
            margin-left: 8px;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }
          .section.features .features-cards .features-item__button:hover::after {
            -webkit-transform: translateX(5px);
                    transform: translateX(5px); }
        .section.features .features-cards .features-item svg {
          display: none; }
  .section.try-free {
    margin: 100px 0; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .t-hide {
    display: none; }

  .carousel-text {
    position: absolute;
    display: block;
    padding: 30px 80px; }
    .carousel-text-title {
      max-width: 645px;
      font-style: normal;
      font-weight: 800;
      font-size: 55px;
      line-height: 110%;
      margin-bottom: 18px; }
    .carousel-text-description {
      max-width: 380px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #4B5D68;
      margin-bottom: 18px; }
    .carousel-text .button {
      margin: unset; }

  .section-title {
    font-size: 40px;
    margin-bottom: 10px;
    padding: 0; }
  .section-subtitle {
    font-size: 14px; }
  .section.features {
    margin-top: 20px;
    position: relative; }
    .section.features::after {
      content: '';
      position: absolute;
      background: #9C69E2;
      opacity: 0.2;
      width: 100%;
      height: 2px;
      bottom: -30px; }
    .section.features .section-subtitle {
      display: block;
      margin: 0 auto;
      max-width: 584px; }
    .section.features .features-cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .section.features .features-cards .features-item {
        max-width: 290px;
        height: auto;
        position: relative;
        border-radius: 50px;
        margin: 0 auto; }
        .section.features .features-cards .features-item.teal {
          background: rgba(104, 201, 186, 0.1); }
        .section.features .features-cards .features-item.blue {
          background: rgba(45, 156, 219, 0.1); }
        .section.features .features-cards .features-item.pink {
          background: rgba(240, 99, 184, 0.1); }
        .section.features .features-cards .features-item.violet {
          background: rgba(156, 105, 226, 0.1); }
        .section.features .features-cards .features-item img {
          max-width: 176px;
          display: block;
          position: absolute;
          left: 50%;
          -webkit-transform: translate(-50%);
                  transform: translate(-50%);
          top: -58px; }
        .section.features .features-cards .features-item:nth-child(1), .section.features .features-cards .features-item:nth-child(2) {
          margin-bottom: 80px; }
        .section.features .features-cards .features-item .features-item-content {
          margin-top: 95px;
          padding: 0px 40px; }
        .section.features .features-cards .features-item__title {
          font-weight: 500;
          font-size: 24px;
          padding: 0;
          margin-bottom: 15px; }
        .section.features .features-cards .features-item__text {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #4B5D68;
          line-height: 160%;
          padding: 0;
          margin-bottom: 26px; }
        .section.features .features-cards .features-item__button {
          border: none;
          background: none;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          padding: 0;
          margin-bottom: 47px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .section.features .features-cards .features-item__button::after {
            content: url(../img/icons/arrow.svg);
            margin-left: 8px;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }
          .section.features .features-cards .features-item__button:hover::after {
            -webkit-transform: translateX(5px);
                    transform: translateX(5px); }
        .section.features .features-cards .features-item svg {
          display: none; }
    .section.features .section-subtitle {
      line-height: 160%;
      padding: 0;
      margin-bottom: 100px; }
  .section.try-free {
    margin-top: 50px;
    margin-bottom: 50px; }
    .section.try-free .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: unset;
          -ms-flex-pack: unset;
              justify-content: unset;
      -webkit-box-align: unset;
          -ms-flex-align: unset;
              align-items: unset; }
    .section.try-free .try-free-description {
      text-align: center !important; }
    .section.try-free .button-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 20px; }
      .section.try-free .button-wrapper button + button {
        margin-left: auto;
        margin-top: 15px !important; } }
@media screen and (max-width: 767px) {
  .m-hide {
    display: none; }

  .carousel-text {
    position: absolute;
    display: block;
    padding: 20px 15px; }
    .carousel-text-title {
      max-width: unset;
      font-style: normal;
      font-size: 18px;
      margin-bottom: 10px; }
    .carousel-text-description {
      max-width: unset;
      font-style: normal;
      font-size: 12px;
      margin-bottom: 0px; }
    .carousel-text .button {
      display: none; }

  .modal.modal_visible {
    display: none; }

  .section-title {
    font-size: 40px;
    margin-bottom: 10px;
    padding: 0; }
  .section-subtitle {
    font-size: 14px; }
  .section.features {
    margin-top: 20px;
    position: relative; }
    .section.features::after {
      content: '';
      position: absolute;
      background: #9C69E2;
      opacity: 0.2;
      width: 100%;
      height: 2px;
      bottom: -30px; }
    .section.features .section-title,
    .section.features .section-subtitle {
      text-align: left !important; }
    .section.features .features-cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .section.features .features-cards .features-item {
        position: relative;
        border-radius: 50px;
        margin: 0 auto; }
        .section.features .features-cards .features-item.teal {
          background: rgba(104, 201, 186, 0.1); }
        .section.features .features-cards .features-item.blue {
          background: rgba(45, 156, 219, 0.1); }
        .section.features .features-cards .features-item.pink {
          background: rgba(240, 99, 184, 0.1); }
        .section.features .features-cards .features-item.violet {
          background: rgba(156, 105, 226, 0.1); }
        .section.features .features-cards .features-item img {
          max-width: 176px;
          display: block;
          position: absolute;
          left: 50%;
          -webkit-transform: translate(-50%);
                  transform: translate(-50%);
          top: -58px; }
        .section.features .features-cards .features-item + .features-item {
          margin-top: 90px; }
        .section.features .features-cards .features-item-content {
          margin-top: 95px;
          padding: 0px 40px; }
        .section.features .features-cards .features-item__title {
          font-weight: 500;
          font-size: 24px;
          padding: 0;
          margin-bottom: 15px; }
        .section.features .features-cards .features-item__text {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #4B5D68;
          line-height: 160%;
          padding: 0;
          margin-bottom: 26px; }
        .section.features .features-cards .features-item__button {
          border: none;
          background: none;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          padding: 0;
          margin-bottom: 47px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .section.features .features-cards .features-item__button::after {
            content: url(../img/icons/arrow.svg);
            margin-left: 8px;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }
          .section.features .features-cards .features-item__button:hover::after {
            -webkit-transform: translateX(5px);
                    transform: translateX(5px); }
        .section.features .features-cards .features-item svg {
          display: none; }
    .section.features .section-subtitle {
      line-height: 160%;
      padding: 0;
      margin-bottom: 100px; }
  .section.try-free {
    margin-top: 50px;
    margin-bottom: 50px; }
    .section.try-free .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: unset;
          -ms-flex-pack: unset;
              justify-content: unset;
      -webkit-box-align: unset;
          -ms-flex-align: unset;
              align-items: unset; }
    .section.try-free .try-free-description {
      text-align: center !important; }
    .section.try-free .button-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 20px; }
      .section.try-free .button-wrapper button + button {
        margin-left: auto;
        margin-top: 15px !important; } }
