
// fonts

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

// end fonts

$yellow: #ffab1b;

:root {
  --title-color: #000;
  --rgba-title-color: rgba(51, 51, 51, 0.1);
  --body-color: #696969;
  --background-color: #F9F9FB;
  --foreground-color: #fff;
  --blend-mode: normal;
  --cv-button: #fdfcdc;
  --progress-scroll: #ffab1b;
}

// .light-theme {
//   --title-color: #000;
//   --rgba-title-color: rgba(51, 51, 51, 0.1);
//   --body-color: #696969;
//   --background-color: #fdfcdc;
//   --foreground-color: #fff;
//   --blend-mode: normal;
//   --cv-button: #fdfcdc;
//   --progress-scroll: #ffab1b;
// }

::selection {
  background: rgba(255, 171, 27, .4);
}

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

html {
  box-sizing: border-box;
  hyphens: auto;
	// -webkit-text-size-adjust: 100%;
	// -ms-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  font: {
      family: 'Inter', 'Arial', 'Helvetica', sans-serif;
      weight: normal;
      style: normal;
      display: fallback;
  }
  font-size: 1rem;
  color: var(--title-color);
  overflow-anchor: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  // box-sizing: border-box;
  transition: color 0.5s, background 0.5s;
}

.container {
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
.container {
  width: 750px;
}
}
@media (min-width: 992px) {
.container {
  width: 970px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1170px;
}
}