html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #212353;
    overflow-x: hidden;
    font: {
        family: 'Avenir', Arial, Helvetica, sans-serif;
        weight: normal;
        style: normal;
    }
    line-height: normal;
    overflow-anchor: auto;
    scroll-behavior: smooth;
}

.no-scroll { overflow: hidden }

textarea {
	width: 100%;
	border: 0;
	box-sizing: border-box;
	padding: 10px 0;
	line-height: 85px;
	overflow: hidden;
	resize: none;
	background-image: linear-gradient(
        0deg,
        #b2a2cd 1%,
        transparent 1%,
        transparent 50%,
        #b2a2cd 50%,
        #b2a2cd 51%,
        transparent 51%,
        transparent 100%
	);
	background-size: 160px 160px;
    &::placeholder {
        color: #212353;
        font-weight: 800;
    }
}


@media screen and (max-width: 767px) {
    textarea {
        font-size: 14px;
    }
}